*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}


.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 


header {
    
    padding-top: 1in;
    margin-right: 1in;
    margin-top: .5in;
    display: block;

    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px
    
}

    

h1 {
    font-family: 'Give You Glory', cursive;
    color: #7F2194;
    text-align: left;
    font-size: 6rem;
    padding-left: .5in;
}

body {
    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px
    }
    

.nav {
    font-family: 'Give You Glory';
    color: #7F2194;
    text-align: right;
    font-size: 1.5rem;
    overflow: hidden;
}


.nav a.active {
    background-color: #7F2194;
}




main {
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
    background-image: linear-gradient(#00F08B, #efe550, #D7F01B);
    display: block;

    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.porfolio {
   
   
    font-family: 'Give You Glory';
    color: #7F2194;
    font-size: 30px;
   
    order: 2;
    padding: 9em;
    text-align: left;
 
 }
 
 .auto-slider{

     margin-left: auto;
     margin-right: auto;
 
     position: relative;
    
    
     box-sizing: content-box;
     display: flex;
     padding: auto;
     background: #fff;
     max-width: 40%;
    
     overflow: hidden;
     border-radius: 4px;
     box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
 
     flex-basis: 75%;
     order: 1;
     
 }
 


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}


.indicator{
    width: 100%;
    max-width: 720px;
    height: 6px;
   
    position: absolute;
    bottom: 0;
    
    animation: indicating 2s ease infinite; 
}

/* 
@keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        


@keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}  
 */






footer {

    text-align: center;
    margin-top: 10px; 
   
    overflow: auto;
    display: block;
}
